{% extends "base.html.twig" %}

{% block title %}
    {{ message }}
{% endblock %}

{% block body %}
    <h1 class="mb-3"> {{ message }} </h1>

	<a href="{{urlGenerator.generate(route)}}" class="btn btn-primary">Retour à la liste</a>

{% endblock %}